debug/
thridPart/
opencv_video331d.dll
opencv_tracking331d.dll
opencv_text331d.dll
opencv_surface_matching331d.dll
opencv_superres331d.dll
opencv_structured_light331d.dll
opencv_stitching331d.dll
opencv_stereo331d.dll
opencv_shape331d.dll
opencv_saliency331d.dll
opencv_rgbd331d.dll
opencv_reg331d.dll
opencv_plot331d.dll
opencv_photo331d.dll
opencv_phase_unwrapping331d.dll
opencv_calib3d331d.dll
opencv_bioinspired331d.dll
opencv_bgsegm331d.dll
opencv_aruco331d.dll
Qt5Widgetsd.dll
Qt5Svgd.dll
Qt5Guid.dll
Qt5Cored.dll
opengl32sw.dll
opencv_videostab331d.dll
opencv_videoio331d.dll
opencv_optflow331d.dll
opencv_objdetect331d.dll
opencv_ml331d.dll
opencv_line_descriptor331d.dll
opencv_imgproc331d.dll
opencv_imgcodecs331d.dll
opencv_img_hash331d.dll
opencv_highgui331d.dll
opencv_fuzzy331d.dll
opencv_flann331d.dll
opencv_ffmpeg331_64.dll
opencv_features2d331d.dll
opencv_face331d.dll
opencv_dpm331d.dll
opencv_dnn331d.dll
opencv_datasets331d.dll
opencv_cudev331d.dll
opencv_cudawarping331d.dll
opencv_cudastereo331d.dll
opencv_cudaoptflow331d.dll
opencv_cudaobjdetect331d.dll
opencv_cudalegacy331d.dll
opencv_cudaimgproc331d.dll
opencv_cudafilters331d.dll
opencv_cudafeatures2d331d.dll
opencv_cudacodec331d.dll
opencv_cudabgsegm331d.dll
opencv_cudaarithm331d.dll
opencv_core331d.dll
opencv_ccalib331d.dll
Makefile.Release
Makefile.Debug
